body{
  font-family: "Times New Roman", Times, serif;
  //color: #0095dd;
  padding-top:30px;
}

label{
  font-family: "Times New Roman", Times, serif;
  color: #555;
}
.demo-container {
    width: 100%;
    max-width: 350px;
    margin: 50px auto;
}
form {
    margin: 30px;
}
h1 {
    font-style: bold;
    color: #0095dd;
    //font-family: Consolas,Monaco,'Andale Mono',monospace;
    margin-bottom: 24px;
    font-weight: bold;

}
